div#game{
border:#5AB029 3px solid;
padding:10px 40px 40px 40px;
 width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color:#E5FCE3;

}

h2#game_status{
background-color:darkgreen;
wigth:50px;
color: White;
text-align:center;
}

h1 {
    text-align: center;
}
